<!DOCTYPE html>
<html>

<head>
    <title>Vue</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet"
          type="text/css"
          href="../../node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet"
          type="text/css"
          href="./style.css">

</head>

<body>
    <div id="app">
        <div class="row">
            <div class="col">
                <div>
                    <h1>you</h1>
                </div>
                <div class="progressBar">
                    <div class="health">{{monsterData.health}}</div>
                </div>
            </div>
            <div class="col">
                <div>
                    <h1>monster</h1>
                </div>
                <div class="progressBar">
                    <div class="health">{{youData.health}}</div>
                </div>
            </div>
        </div>

        <template v-if="!toggleStart">
            <div class="row">
                <div class="col">
                    <a class="btn btn-green"
                       @click="start">Start!</a>
                </div>
            </div>
        </template>

        <template v-if="toggleStart">
            <div class="row">
                <div class="col">
                    <a class="btn btn-red"
                       @click="fight">Attack!</a>
                </div>
                <div class="col">
                    <a class="btn btn-orange"
                       @click="fight(true)">Ultimate!</a>
                </div>
                <div class="col">
                    <a class="btn btn-green"
                       @click="">Healing</a>
                </div>
                <div class="col">
                    <a class="btn btn-white"
                       @click="abandon">Run</a>
                </div>
            </div>
        </template>

        <template v-if="battleLog.length > 0">
            <div class="row">
                <template>
                    <div class="row log"> Monster Attack</div>
                </template>
            </div>
        </template>
    </div>
</body>
<script src="./app.js"></script>

</html>
