<!DOCTYPE html>
<html>

<head>
    <title>Vue</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet"
          type="text/css"
          href="../../node_modules/bulma/css/bulma.css">
    <link rel="stylesheet"
          type="text/css"
          href="./style.css">

</head>

<body>
    <div id="app"
         class="container">

        <section class="columns">
            <div class="column has-text-centered">
                <h1 class="title is-1">YOU</h1>
                <div class="progressBar">
                    <div class="progressBar health"
                         :style="{width:playerHealth + '%'}">
                        {{playerHealth}}
                    </div>
                </div>
            </div>
            <div class="column has-text-centered">
                <h1 class="title is-1">MONSTERS</h1>
                <div class="progressBar">
                    <div class="progressBar health"
                         :style="{width:monsterHealth + '%'}">
                        {{monsterHealth}}
                    </div>
                </div>
            </div>
        </section>

        <section class="columns"
                 v-if="!gamesStart">
            <div class="column">
                <div class="box has-text-centered"
                     style="margin-left:5px;margin-right:5px">
                    <button class="button is-primary is-large is-focused "
                            @click="startGames">
                        スタート
                    </button>
                </div>
            </div>
        </section>
        <section class="columns"
                 v-else>
            <div class="column">
                <div class="box has-text-centered"
                     style="margin-left:5px;margin-right:5px">
                    <button class="button is-danger is-medium is-focused "
                            @click="attack">
                        アタック!
                    </button>
                    <button class="button is-warning is-medium is-focused "
                            @click="specialAttack">
                        <b>「スペシャル」</b> アタック!!
                    </button>
                    <button class="button is-success is-medium is-focused "
                            @click="heal">
                        ヒーリング
                    </button>
                    <button class="button is-medium is-focused "
                            @click="run">
                        ラン
                    </button>
                </div>
            </div>
        </section>
        <section class="columns"
                 v-show="turns.length > 0">
            <div class="column">
                <div class="box has-text-centered"
                     style="margin-left:5px;margin-right:5px">
                    <p class="title is-5">バトル　ログ</p>
                    <ul>
                        <li v-for="item in turns"
                            :class="{'is-player':item.isPlayer,'is-monster':!item.isPlayer}">
                            {{ item.text }}
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
</body>

<script src="./app.js"></script>

</html>
