#app {
    display: flex;
    flex-flow: column wrap;
}

.row {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    border: solid 1px red;
    padding: 20px 10px;
}

.col {
    display: flex;
    flex-flow: column wrap;
    flex: 0 1 auto;
    justify-content: center;
    /* border: solid 1px blue; */
}

.col>div {
    /* border: solid 1px green; */
    flex: 0 1 auto;
    text-align: center;
}

.col-item {
    border: solid 1px green;
}

.progressBar {
    display: inline-block;
    border: solid 1px gray;
    margin: 10px 30px;
    width: 300px;
    height: 30px;
}

.log {
    padding: 10px;
    border: solid 1px yellow;
    background-color: red;
    color: white;
}

.btn {
    margin: 0px 10px;
    display: inline-block;
    height: 40px;
    width: 150px;
    font-size: 35px;
    border: solid 3px gray;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    box-shadow: 3px 2px 3px #616161c0;
}

.btn:hover {
    box-shadow: 2px 1px #616161c0;
    background-color: rgba(39, 39, 39, 0.123);
}

.btn-green {
    background-color: rgb(210, 243, 160);
}

.btn-red {
    background-color: rgb(255, 126, 126);
}

.btn-orange {
    background-color: rgb(255, 185, 128);
}

.btn-white {
    background-color: rgb(255, 255, 255);
}